# Database Neon PostgreSQL (atau PostgreSQL lokal)
DATABASE_URL="postgresql://user:password@ep-sample-123456.ap-southeast-1.aws.neon.tech/kueku?sslmode=require"

# NextAuth Secret (Generate dengan: openssl rand -base64 32)
NEXTAUTH_SECRET="kue-ku-christmas-secret-key-min-32-chars-random-string"

# NextAuth URL (http://localhost:3000 saat lokal, ganti ke https://kue-ku.vercel.app saat di Vercel)
NEXTAUTH_URL="http://localhost:3000"
